@import views.html.helper.CSRF
@import de.unruh.stuff.Config
@(form: Form[AuthenticationController.GoogleCredentials])(
        implicit assetsFinder: AssetsFinder, requestHeader: RequestHeader, config: Config)


@header = {
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function google_login_callback(response) {
            console.log("login callback", response);
            var form = document.getElementById("credential-form");
            form.elements["clientId"].value = response.clientId;
            form.elements["credential"].value = response.credential;
            form.submit();
        }
    </script>
}

@main(title="Log in", header = header){
    <h1>Sign in</h1>

    <div id="g_id_onload"
         data-client_id="@config.googleClientId"
         data-context="signin"
         data-ux_mode="popup"
         data-callback="google_login_callback"
         data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="pill"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>

    @helper.form(routes.AuthenticationController.authenticate(), Symbol("id") -> "credential-form") {
        @CSRF.formField
        <input type="hidden" name="clientId"/>
        <input type="hidden" name="credential"/>
    }
}