@import views.html.helper.CSRF
@(form: Form[AuthenticationController.Login])(implicit assetsFinder: AssetsFinder, requestHeader: RequestHeader)

@main(title="Log in"){
    <h1>Sign in</h1>
    @helper.form(routes.AuthenticationController.authenticate()) {
        @CSRF.formField
        <p><input type="text" name="user" placeholder="Username" value="@form("user").value"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><button type="submit">Login</button></p>
    }
}